<!--homepage.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RanjeetZone</title>
</head>
<body>
     
  <div border=1 align="left" sec:authorize="hasRole('ROLE_ANONYMOUS')">
    <p><H4><a th:href="@{|/login|}" th:text="'Log in'"></a></h4></p>
    <p><h4><a th:href="@{|/register|}" th:text="'Register'"></a></h4></p>
  </div>
           
    <header align="center">
           
            <div class="menu">
                <ul>
                    <li style="display:inline"><a href="#" class="under">HOME</a></li>
                    <li style="display:inline"><a href="#" class="under">SHOP</a></li>
                    <li style="display:inline"><a href="#" class="under">OUR PRODUCTS</a></li>
                    <li style="display:inline" ><a href="#" class="under">CONTACT US</a></li>
                    <li style="display:inline"><a href="#" class="under">ABOUT US</a></li>
                </ul>
            </div>
            <div class="search">
                <a href=""
                    ><input width="500"
                        type="text"
                        placeholder="search products"
                        id="input"
                    />
                    <ion-icon class="s" name="search"></ion-icon>
                </a>
            </div>
           
        </header>
        <section align="left">
                <div class="section2">
                    <div class="container">
                        <div class="items">
                            <div class="img img1">
                                <img width="400" height="200" align="right" 
                                    src="https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    alt=""
                                />
                            </div>
                         </div>
                    </div>
            </div>
        </section>
        
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
        <script src="./ecommerce.js"></script>
 
 

  <div sec:authorize="isAuthenticated()">
    <p>Logged as: <span sec:authentication="name"></span></p>
    <p>Has role: <span sec:authentication="authorities"></span></p>
    <p sec:authorize="hasAuthority('USER')"><a th:href="@{|/dashboard|}" th:text="'User Dashboard'"></a></p>
    <p sec:authorize="hasAuthority('ADMIN')"><a th:href="@{|/dashboard|}" th:text="'Admin Dashboard'"></a></p>
    <a th:href="@{/logout}">Log out</a>
  </div>
  
  
  
<footer align="center">

 <br> <br><br> <br> <br> <br><br> <br> <br> <br><br> <br> <br> <br><br> <br>
 
           <H3> <div class="logo"><a href="#">RanjeetZone Ecommerce Plateform</a></div></H3>
            <div class="footer1">
                Connect with us at
                <div class="social-media">
                    <a href="#"> <ion-icon name="logo-facebook"></ion-icon> </a>
                    <a href="#"> <ion-icon name="logo-linkedin"></ion-icon> </a>
                    <a href="#"> <ion-icon name="logo-youtube"></ion-icon> </a>
                    <a href="#">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                    <a href="#"> <ion-icon name="logo-twitter"></ion-icon> </a>
                </div>
            </div>
             
</footer>
        
</body>

</html>